<div fxFlex>
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Giulia Guarise Gutierrez</mat-card-title>
            <mat-card-subtitle>GRR20184611</mat-card-subtitle>
            <mat-card-subtitle><a href="https://www.linkedin.com/in/giulia-guarise/"
                   target="_blank">https://www.linkedin.com/in/giulia-guarise/</a>
            </mat-card-subtitle>
            <img mat-card-sm-image
                 src="https://media-exp1.licdn.com/dms/image/C4D03AQE0xkUoUNnDpw/profile-displayphoto-shrink_800_800/0/1574183677270?e=1655337600&v=beta&t=G-dQzrpJdcuJE7x9sgt45HT5yAPpqGPOWhrVr-ovNE0">
        </mat-card-title-group>
        <mat-card-content>
            <h5><strong>2022-atual</strong> | Desenvolvedora em Angular 2+ | MPS Informática Ltda.</h5>
            <h5><strong>2020-2021</strong> | Estagiaria | MPS Informática Ltda.</h5>
            <h5><strong>2019-2020</strong> | Estagiaria | Bradesco</h5>
            <h5><strong>2016-2019</strong> | Técnica de Gestão Legislativa | Câmara Municipal de Colombo</h5>
            <h6>Última atualização: 16/04/2022</h6>
        </mat-card-content>
    </mat-card>
    <p></p>
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>Raphael Pereira Rodrigues</mat-card-title>
            <mat-card-subtitle>GRR20184635</mat-card-subtitle>
            <mat-card-subtitle><a href="https://www.linkedin.com/in/raphael-pereira-rodrigues-24a5561b3/"
                   target="_blank">https://www.linkedin.com/in/raphael-pereira-rodrigues-24a5561b3/</a>
            </mat-card-subtitle>
            <img mat-card-sm-image
                 src="https://media-exp1.licdn.com/dms/image/C4D03AQFIW4q0WFe-IA/profile-displayphoto-shrink_800_800/0/1632588172937?e=1655337600&v=beta&t=5uFMV_RpdPUKAcO-ICGsuk04wnhMV9xiMi0KHasHqCw">
        </mat-card-title-group>
        <mat-card-content>
            <h5><strong>2022-atual</strong> | Desenvolvedor de microserviços distribuídos | MPS Informática Ltda.</h5>
            <h5><strong>2021-2022</strong> | Estagiario | MPS Informática Ltda.</h5>
            <h5><strong>2014-2021</strong> | Técnico de Laboratório | PUC/PR</h5>
            <h6>Última atualização: 16/04/2022</h6>
        </mat-card-content>
    </mat-card>
</div>