<mat-toolbar fxLayout="row">
    <mat-toolbar-row fxLayoutAlign="start center">
        <h1 class="title">{{title}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="end center">
        <div>
            <button *ngIf="showEditButton"
                    mat-icon-button
                    matTooltip="Editar"
                    matTooltipPosition="left"
                    (click)="emitEditEvent()">
                <mat-icon class="icons">create</mat-icon>
            </button>
            <button *ngIf="showSaveButton"
                    mat-icon-button
                    matTooltip="Salvar"
                    matTooltipPosition="left"
                    (click)="emitSaveEvent()">
                <mat-icon class="icons">save</mat-icon>
            </button>
            <button *ngIf="showUndoButton"
                    mat-icon-button
                    matTooltip="Descartar"
                    matTooltipPosition="left"
                    (click)="emitUndoEvent()">
                <mat-icon class="icons">cancel</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>