<div class="container text-center">

    <app-page-title title="Fornecedor"></app-page-title>

    <mat-toolbar>
        <i class="material-icons"
           (click)="addRowData()">
            add_circle
        </i>
        <i class="material-icons">
            delete
        </i>
    </mat-toolbar>

    <mat-table [dataSource]="dataSource"
               class="my-table mat-elevation-z4">

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>

        <ng-container matColumnDef="select">
            <mat-header-cell fxFlex="60px"
                             fxLayoutAlign="start center"
                             *matHeaderCellDef>
                <mat-checkbox>
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell fxFlex="60px"
                      fxLayoutAlign="start center"
                      *matCellDef="let element">
                <mat-checkbox>
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell fxFlex="20"
                             fxLayoutAlign="start center"
                             *matHeaderCellDef> ID. </mat-header-cell>
            <mat-cell fxFlex="20"
                      fxLayoutAlign="start center"
                      *matCellDef="let element">
                <mat-form-field fxFlex
                                fxLayout="column">
                    <input matInput
                           [value]="!!element.id ? element.id : ''" />
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell fxFlex
                             fxLayoutAlign="start center"
                             *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell fxFlex
                      fxLayoutAlign="start center"
                      *matCellDef="let element">
                <mat-form-field fxFlex
                                fxLayout="column">
                    <input matInput
                           [value]="!!element.name ? element.name : ''" />
                </mat-form-field>
            </mat-cell>
        </ng-container>

    </mat-table>

</div>