.ng-container {
  margin-right: 50px !important;
}

.mat-table {
  max-width: 100%;
}

.mat-toolbar {
  max-height: 45px !important;
}

.mat-icon {
  font-size: 10;
  margin-right: 1%;
  cursor: pointer;
}

.lightgrey-icon {
  color: var(--client-color-lightgrey);
}

.orange-icon {
  color: var(--client-color-orange);
}

.invalid-table-row {
  border-width: 1px !important;
  border-color: red !important;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.15) !important;
}
