<mat-toolbar fxLayout="row">
    <mat-toolbar-row fxLayoutAlign="start center">
        <div>
            <button *ngIf="showReturnButton"
                    mat-icon-button
                    matTooltip="Voltar"
                    matTooltipPosition="left"
                    (click)="emitReturnEvent()">
                <mat-icon class="icons">reply</mat-icon>
            </button>
            <button *ngIf="showEditButton"
                    mat-icon-button
                    matTooltip="Editar"
                    matTooltipPosition="left"
                    color="accent"
                    (click)="emitEditEvent()">
                <mat-icon class="icons">create</mat-icon>
            </button>
            <button *ngIf="showSaveButton"
                    mat-icon-button
                    matTooltip="Salvar"
                    matTooltipPosition="left"
                    color="accent"
                    (click)="emitSaveEvent()">
                <mat-icon class="icons">save</mat-icon>
            </button>
            <button *ngIf="showUndoButton"
                    mat-icon-button
                    matTooltip="Descartar"
                    matTooltipPosition="left"
                    (click)="emitUndoEvent()">
                <mat-icon class="icons">cancel</mat-icon>
            </button>
            <button *ngIf="showDeleteButton"
                    mat-icon-button
                    matTooltip="Excluir"
                    matTooltipPosition="left"
                    (click)="emitDeleteEvent()">
                <mat-icon class="icons">delete</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="center center">
        <h1 class="title">{{title}}</h1>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="end center">
        <button *ngIf="!!dialogComponentButton"
                class="dialogButton"
                mat-raised-button
                color="accent"
                (click)="emitOpenDialogEvent()">
            {{dialogComponentButton}}
        </button>
        <a [routerLink]="[newButtonRoute]">
            <button *ngIf="showNewButton"
                    mat-raised-button
                    color="accent"
                    (click)="emitNewEvent()">
                {{newButtonLabel}}
            </button>
        </a>
    </mat-toolbar-row>
</mat-toolbar>